body {
    color: #1f1e1e;
    background-color: #f5d8ca;
    font-family: "DM Sans", sans-serif;
    
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
  }

/* NADPISY */
  h1 {
    color: white;
    font-family: "Boldonse", system-ui;
    font-style: italic;
    font-size: 80px;
    text-align: center;
    margin: 0;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0,9);
  }

  h2 {
    color: rgb(22, 11, 39);
    font-family: "Boldonse", system-ui;
   
    font-style: italic;
    font-size: 48px;
    text-align: center;
    margin-top: 0;
  }

  h3 {
    color: #68646rgb(22, 11, 39);
    font-family: "Boldonse", system-ui;
   
    font-style: italic;
    font-size: 24px;
    margin-top: 36px;
  }

/* FOTKY */

  .foto-kdo {
    width: 200px;
    border-radius: 50%;
    float: left;
    margin: 0 30px 30px 0;
   
   }

 .Dante,
 .Sofu {
    width: 250px;
    border-radius: 50px 0;
    float: left;
    margin: 0px 50px 30px 0;
   } 

 

   .foto-MatyaZoli {
    width: 250px;
    border-radius: 50px 0;
    float: left;
    margin: 0px 50px 30px 0;
   } 


   .foto-Paja {
    width: 250px;
    border-radius: 0 50px;
    float: right;
    margin: 0 30px 0 50px;
   } 

  
  /* SEKCE */
  
   section {
    padding: 50px 15%;
    overflow: auto;
   }


   .hlavicka {
    background-image: url(Obrázky/uvod.jpg);
    padding: 150px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   }


  .paticka {
    background-color: rgb(22, 11, 39);
    text-align: center;
    color: white;
    padding: 20px 0;
    
   }

    .bezpsu,
    .manzel {
   background-color: #f3ded4;
  }